body {
    margin: 50px;
    background-color: #141111;
    overflow-x: hidden;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Ubuntu', sans-serif;
}
header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #14111186;
    z-index: 1000;
}
.logo img {
    height: 100px;
}
.links a {
    text-decoration: none;
    color: white;   
    box-shadow: 0 0 0 1px white;
    border-radius: 10px;    
    padding: 11px 12px 8px;
    transition-duration: 0.5s;
}
.links {
    display: flex;
    margin: 10px;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: #fbbb43;
    border-radius: 11px;
    transition-duration: 0.5s;
}
.btn img {
    display: flex;
    height: 70px;
    padding: 11px 20px 8px;
}
.promo{
    margin: 0;
    display: flex;
}
.banner {
    margin: 0;
    background-image: url(Kartinki/calisto-trailer_large.jpg);
    padding: 70px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    height: 700px;
    color: white;
    display: flex;
    align-items: flex-end;
}
.banner .btn {
    font-size: 40px;
    text-decoration: none;
    color: black;
    padding: 11px 12px 8px;
}
.price {
    color: white;
    font-size: 30px;
    padding: 10px;
}
.btn:hover {
    background-color: white;
}
.links a:hover{
    background-color: #fbbb43;
    color: #000;
    box-shadow: 0 0 0 0;
}
.shop_list{
    margin: 0;
    width: 100%;
}
.card1 {
    width: 20%;
    height: 300px;
    padding: 0.5px;
    background-image: url(Kartinki/Screenshot_394.jpg);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    border: 1px solid silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.card2 {
    width: 20%;
    height: 300px;
    padding: 0.5px;
    background-image: url(Kartinki/56551.jpg);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    border: 1px solid silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.card3 {
    width: 20%;
    height: 300px;
    padding: 0.5px;
    background-image: url(Kartinki/8856096a22e6ecab313050f4160c053555bad143b910931d96b28d0df204d7d2.jpg);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    border: 1px solid silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.card4 {
    width: 20%;
    height: 300px;
    padding: 0.5px;
    background-image: url(Kartinki/p1_3555626_08e19c6c.jpg);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    border: 1px solid silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.igra{
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.card:hover {
    border: 1px solid #fbbb43;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
}
.wrapper{
    width: 100%;
    margin: 0;
}
.new_list{
    margin: 0;
    width: 100%;
}
.news {
    height: 500px;
    margin: 20px 200px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.block1 {
    background-image: url(Kartinki/EGS_NeedforSpeedUnbound_CriterionGames_S2_1200x1600-9633e095cbd48726c6025f64d3114bb8.jpg);
    background-position: cover;
    background-size: 100% 250px ;
    display: flex;
    width: 50%;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    transition-duration: 0.5s;
    box-shadow:  inset 0 0 50px 40px rgba(0, 0, 0, 0.856);
    text-decoration: none;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-end;
}
.block2 {
    background-image: url(Kartinki/Sonic-Frontierrs-Site.jpg);
    background-position: cover;
    background-size: 100% 180px ;
    display: flex;
    width: 50%;
    height: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    transition-duration: 0.5s;
    box-shadow:  inset 0 0 50px 40px rgba(0, 0, 0, 0.856);
    text-decoration: none;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-end;
}
.block3 {
    background-image: url(Kartinki/KrubisFight.jpg);
    background-position: cover;
    background-size: 100% 180px ;
    display: flex;
    width: 50%;
    height: 180px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    transition-duration: 0.5s;
    box-shadow:  inset 0 0 50px 40px rgba(0, 0, 0, 0.856);
    text-decoration: none;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-end;
}
.block4 {
    display: flex;
    background-image: url(Kartinki/V9R0ldWdLSgS6A4d8qplbAgi.jpg);
    background-position: cover;
    background-size: 100% 250px ;
    width: 50%;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    transition-duration: 0.5s;
    box-shadow:  inset 0 0 50px 40px rgba(0, 0, 0, 0.856);
    text-decoration: none;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-end;
}
.block1:hover{
    border: 1px solid #fbbb43;
}
.block2:hover{
    border: 1px solid #fbbb43;
}
.block3:hover{
    border: 1px solid #fbbb43;
}
.block4:hover{
    border: 1px solid #fbbb43;
}
.Blog_list{
    margin: 0;
    width: 100%;
}
.blogs{
    height: 350px;
    margin: 20px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.blog1 {
    background-image: url(Kartinki/game-ratings-featured.jpg);
    background-position: center;
    background-size: 100% 230px ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 33%;
    height: 230px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    transition-duration: 0.5s;
    box-shadow:  inset 0 0 50px 40px rgba(0, 0, 0, 0.856);
    text-decoration: none;
}
.blog2 {
    background-image: url(Kartinki/DyingLight2_HERO.jpg);
    background-position: center;
    background-size: 100% 230px ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 33%;
    height: 230px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    transition-duration: 0.5s;
    box-shadow:  inset 0 0 50px 40px rgba(0, 0, 0, 0.856);
    text-decoration: none;
}
.blog3 {
    background-image: url(Kartinki/d2f1a80c52.jpg);
    background-position: center;
    background-size: 100% 230px ;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    width: 32%;
    height: 230px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    transition-duration: 0.5s;
    box-shadow:  inset 0 0 50px 40px rgba(0, 0, 0, 0.856);
    text-decoration: none;
}
.des{
    color: white;
    font-size: 30px;
    padding: 10px;
}
.text1{
    color: white;
    font-size: 15px;
    padding-top: 10px;
    text-decoration: none;
}
.text2{
    color: white;
    font-size: 15px;
    padding-top: 10px;
    text-decoration: none;
}
.text3{
    color: white;
    font-size: 15px;
    padding-top: 10px;
    text-decoration: none;
}
.blog1:hover{
    border: 1px solid #fbbb43;
}
.blog2:hover{
    border: 1px solid #fbbb43;
}
.blog3:hover{
    border: 1px solid #fbbb43;
}
.Kontakts{
    margin: 0;
    width: 100%;
}
.webs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.gg{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.photo{
    display: flex;
    justify-content: center;
    background-image: url(Kartinki/me.jpg);
    background-position: center;
    background-size: 100% 500px ;
    height: 500px;
    width: 35%;
    border-radius: 10px;
    border: 1px solid silver;   
}
.telegram{
    background-image: url(Kartinki/pngegg\(1\).png);
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.vk{
    background-image: url(Kartinki/pngegg\(2\).png);
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}
.telephone{
    background-image: url(Kartinki/pngegg\(5\).png);
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}
.email{
    background-image: url(Kartinki/pngegg\(6\).png);
    height: 60px;
    width: 100px;
    background-size: 100px 60px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info1{
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;

}
.info2{
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.info3{
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
}
.info4{
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.info1:hover{
    color: #fbbb43;
}
.info2:hover{
    color: #fbbb43;
}
hr{
    background-color: #fbbb43;
    height: 2px;
    border: 0;
    bottom: 100px;
}
footer{
    width: 100%;
    height: 100px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visa{
    background-image: url(Kartinki/pngegg\(8\).png);
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.mastercard{
    background-image: url(Kartinki/pngegg\(9\).png);
    height: 80px;
    width: 150px;
    background-size: 150px 80px;
    background-repeat: no-repeat;
}
.mir{
    background-image: url(Kartinki/Logotip-MIR-na-plashke-01.png);
    height: 80px;
    width: 150px;
    background-size: 150px 80px;
    background-repeat: no-repeat;
}
.qiwi{
    background-image: url(Kartinki/pngegg\(10\).png);
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 300px) and (max-width: 992px) {
    header{
        flex-direction: column;
        position: relative;
    }
    .promo{
        align-items: flex-end;
        justify-content: center;
    }
    .banner {
        height: 100%;
        width: 55%;
        justify-content: flex-end;
        align-items: center;
    }
    .banner .btn{
        font-size: 10px;
    }
    .price{
        font-size: 15px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 25px;
    }
    .card1 {
        width: 70%;
        margin-bottom: 20px;
    }
    .card2 {
        width: 70%;
        margin-bottom: 20px;
    }
    .card3 {
        width: 70%;
        margin-bottom: 20px;
    }
    .card4 {
        width: 70%;
    }
    .news{
        flex-direction: inherit;
        align-items: center;
        justify-content: center;
        height: 1000px;
        margin: 0;
    }
    .block1{
        width: 70%;
        height: 200px;
    }
    .block2{
        width: 70%;
        height: 200px;
        background-size: cover;
    }
    .block3{
        width: 70%;
        height: 200px;
        margin-left: 0px;
        background-size: cover;
    }
    .block4{
        width: 70%;
        height: 200px;
        margin-left: 0px;
    }
    .blogs{
        margin: 0;
        flex-direction: inherit;
        height: 1200px;
    }
    .blog1{
        width: 70%;
    }
    .blog2{
        width: 70%;
        margin-left: 0;
    }
    .blog3{
        width: 70%;
        margin-left: 0;
    }
    .des{
        font-size: 15px;
    }
    .text1{
        font-size: 15px;
        padding: 30px;
    }
    .text2{
        font-size: 15px;
        padding: 30px;
    }
    .text3{
        font-size: 15px;
        padding: 30px;
    }
    .photo{
        height: 300px;
        width: 300px;
        left: 25px;
    }
    .webs{
        flex-direction: column;
    }
    .telegram{
        margin-top: 10px;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
    }
    .telephone{
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
    }
    .email{
        height: 30px;
        width: 50px;
        background-size: 50px 30px;
    }
    .vk{
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
    }
    .visa{
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    .qiwi{
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    .mir{
        width: 80px;
        height: 50px;
        background-size: 80px 50px;
    }
    .mastercard{
        width: 80px;
        height: 50px;
        background-size: 80px 50px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1450px){
    .blogs{
        margin: 0;
        flex-direction: column;
        height: 1200px;
    }
    .blog1{
        width: 50%;
    }
    .blog2{
        width: 50%;
        margin-left: 0;
    }
    .blog3{
        width: 50%;
        margin-left: 0;
    }
    .des{
        font-size: 30px;
    }
    .text1{
        font-size: 20px;
        padding: 30px;
    }
    .text2{
        font-size: 20px;
        padding: 30px;
    }
    .text3{
        font-size: 20px;
        padding: 30px;
    }
}